:root {

  --main_color : rgba(11,13,23,1);
  --snd_color : rgba(208,214,249,1);
  --third-color : rgba(255,255,255,1);

  --main-font : 'Bellefair', serif; 
  --snd-font : 'Barlow Condensed', sans-serif;
  --text-font : 'Barlow', sans-serif;
  --size : 8px;

}


h1,h2,h3,h4{
  font-family: var(--main-font);
}

h5{
  font-family: var(--snd-font);
  color : var(--snd_color)
}

.subHeading_1, .subHeading_2, .text_nav{
  font-family: var(--snd-font);
}

.text{
  font-family: var(--text-font);
}

.text_nav{
  font-family: var(--snd-font);  
}

h1,h2,h2,h4,h5,.subHeading_1, .subHeading_2, .text_nav,.text{
  color : var(--third-color)
}

.button_explore{}



