/* Design System */


:root {
  --main-color: rgba(11, 13, 23, 1);
  --snd-color: rgb(#D0D6F9);
  --third-color: rgba(255, 255, 255, 1);

  --main-font: "Bellefair", serif;
  --snd-font: "Barlow Condensed", sans-serif;
  --text-font: "Barlow", sans-serif;
  --size: 8px;
}

h1{
  font-size :150px;
  text-transform: uppercase;
}

h2{
  font-size: 100px;
  text-transform: uppercase;
}
h3{
  font-size : 56px;
}

h4{font-size : 32px}

h1,
h2,
h3,
h4 {
  font-family: var(--main-font);
  text-transform: uppercase;
  color : var(--third-color)
}

h5 {
  font-family: var(--snd-font);
  color :var(--snd-color);
  font-size : 28px;
  font-weight: 300;
  letter-spacing: 4.75px;
  text-transform: uppercase;
}


.subHeading_2{
  font-size:14px;
  letter-spacing: 2.35px;
  color : var(--snd-color);
  font-family: var(--snd-font);
  text-transform: uppercase;
}


.subHeading_1,
.text_nav {
  font-family: var(--snd-font);
  letter-spacing: 2.7px;
  font-weight: 100;
}

.text {
  font-family: var(--text-font);
  font-size: 18px;
  line-height: 32px;
  color : #D0D6F9;
}

.text_nav {
  font-family: var(--snd-font);
  font-size: 1rem;
  text-transform: uppercase;
}

h1,
h2,
h2,
h4,
h5,
.subHeading_1,
.subHeading_2,
.text_nav {
  color: var(--third-color);
}



.bg_main {
  background-repeat: no-repeat;
  background-size: cover;
}

.flex_1{
  flex : 1;
}




.pages_header {
  margin: 76px 0 4rem 166px; 
}

@media screen and (max-width: 1000px) {
  .pages_header{
    margin: 38px 0 0 40px;

  }
  
}



.pages_header span {
  margin: 0 1rem 0 0;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.3);
}


.bg_home {
  background-image: url("/public/assets/home/background-home-desktop.jpg");
  background-position: center;
}
.bg_crew {
  background-image: url("/public/assets/crew/background-crew-desktop.jpg");
  background-position: center;
}
.bg_destinations {
  background-image: url("/public/assets/destinations/background-destinations-desktop.jpg");
  background-position: center;
}
.bg_technology {
  background-image: url("/public/assets/technology/background-technology-desktop.jpg");
  background-position: center;
}


@media screen and (max-width: 800px) {

  .bg_home {
    background-image: url("/public/assets/home/background-home-tablet.jpg");
  }
  .bg_crew {
    background-image: url("/public/assets/crew/background-crew-tablet.jpg");
  }
  .bg_destinations {
    background-image: url("/public/assets/destinations/background-destinations-tablet.jpg");
  }
  .bg_technology {
    background-image: url("/public/assets/technology/background-technology-tablet.jpg");
  }
}

@media screen and (max-width: 375px) {

  .bg_home {
    background-image: url("/public/assets/home/background-home-mobile.jpg");
  }
  .bg_crew {
    background-image: url("/public/assets/crew/background-crew-mobile.jpg");
  }
  .bg_destinations {
    background-image: url("/public/assets/destinations/background-destinations-mobile.jpg");
  }
  .bg_technology {
    background-image: url("/public/assets/technology/background-technology-mobile.jpg");
  }
}


